<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/showroom">Connect</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
     <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">최신목록
                </h1>
            </div>
        </div>
        <!-- /.row -->
        
        
        <div class="container">
            <!-- Projects Row -->
            <% @category.regeach do |p| %>
            
            
                <div class="col-md-4 col-xs-4 portfolio-item">
                    
                    
                    <a href="/sell/<%= p.id %>">
                    <% unless p.productpic.empty? %>
                    <img class="img-responsive form-group" src="<%= p.productpic %>" width="500" height="500" />
                    <% end %>
                        
                    </a>
                    
                    <div class=>
                        <a href="/sell/<%= p.id %>" class="portfolio-text"> <%= p.productname %> </a>
                        <!-- Dropdown Menu -->
                        <div class="btn-group content-right">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span><span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="/rewrite_view/<%= p.id %>">수정</a></li>
                            <li><a href="/destroy/<%= p.id %>">삭제</a></li>
                          </ul>
                        </div>
                    </div>
             
                </div>
                
            
            <% end %>
        </div>
        <!-- /.row -->
    
<!-- navigation_2 -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div>
            <div class="container">
                <div class="col-xs-2 col-md-2 col-sm-2 bottom-navbar-div" onclick="location.href='/showroom'">
                    <a class="navbar-text" href="/showroom">홈</a>
                </div>
                <div class="col-xs-2 col-md-2 col-sm-2 bottom-navbar-div" onclick="location.href='/category'">
                    <a class="navbar-text" href="/category">카테고리</a>
                </div>
                <div class="col-xs-2 col-md-2 col-sm-2 bottom-navbar-div" onclick="location.href='/register'">
                    <a class="navbar-text" href="/register">등록</a>
                </div>
                <div class="col-xs-2 col-md-2 col-sm-2 bottom-navbar-div" onclick="location.href='#'">
                    <a class="navbar-text" href="#">판매목록</a>
                </div>
                <div class="col-xs-2 col-md-2 col-sm-2 bottom-navbar-div" onclick="location.href='#'">
                    <a class="navbar-text" href="#">보관함</a>
                </div>
                <div class="col-xs-2 col-md-2 col-sm-2 bottom-navbar-div" onclick="location.href='/users/sign_out'">
                    <a class="navbar-text" href="/users/sign_out">로그아웃</a>
                </div>
            </div>
        </div>
    </nav>