<!-- 상품 클릭 시 -->
    
    
    <!-- 콘텐츠 -->
    <div class="container">
        
        <!-- 상품 이미지 -->
        <div class="item_image"><img src="<%= @register_who.productpic %>" max-width="100%" height="auto" alt="Card image cap"></div>

        
        <!-- 상품 정보 -->
        <div class="goodsinfo">
            <div>
                <div class="item_name"><%= @register_who.productname %></div>
                <div class="item_price"><strong><%= @register_who.price %></strong>원</div>    
                    
                <div class="info">
                    <span class="icon_heart"></span>
                    <span class="icon_view"></span>
                </div>
                
                <div class="txtbox">
                    <ul class="infolist">
                        <li><em>종류</em> &nbsp;&nbsp; <%= @register_who.category %></li>
                        <li><em>회사</em> &nbsp;&nbsp; <%= @register_who.company %></li>
                        <li><em>기한</em> &nbsp;&nbsp; <%= @register_who.time %></li>
                    </ul>
                    <p><%= @register_who.description %></p>
                </div><!-- infolist -->
            </div>
        </div><!-- goodsinfo -->
        


        <!-- 판매자 정보 -->
        <div class="sellershop">
            <a href="/shop/307469/products">
                <dl>
                    <dt>
                        <em>*판매자ID</em>님의 상점
                        <span class="icon icon_friend">friend</span>
                    </dt>
                    <dd class="review">
                        <span class="graph">
                            <em style="width:100%">*별갯수</em>
                        </span>
                        <span class="icon_review">*리뷰개수</span>
                    </dd>
                    <dd class="info">
                        <span>*상품개수</span>
                        <span>*팔로우수</span>
                    </dd>
                    <dd class="photo">
                    </dd>
                </dl>
            </a>
        </div>
              
              
        <!-- 버튼 -->        
        <div class="container">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <button type="button" class="btn-default1"><a href="#none" class="tSubmit1 "><span>구매하기</span></a></button>
              </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn-default2"><a href="#none" class="tSubmit2 " ><span>장바구니</span></a></button>
              </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn-default3"><a href='/showroom' class="tSubmit2" ><span>목록으로</span></a></button>
              </div>
            </div>
        </div>
        <hr>